{# Copyright (C) 2018 emerchantpay Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * @author   emerchantpay
 * @copyright  2018 emerchantpay Ltd.
 * @license   http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0) #}

<div class="modal-dialog" data-type="{{ type }}">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">
        <span class="emerchantpay-logo"></span>
        {{ text_title }}
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
      <div class="alert alert-notification alert-dismissible">
        <i class="fas fa-info-circle"></i>
        <span class="alert-text"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert-notification">&times;</button>
      </div>
    {% if type == 'capture' %}
        <form class="form modal-form" action="{{ url_action }}" method="post">
          <input type="hidden" name="order_id" value="{{ transaction.order_id }}"/>
          <input type="hidden" name="reference_id" value="{{ transaction.unique_id }}"/>

          {% if not emerchantpay_checkout_supports_partial_capture %}
            <div id="{{ module_name }}_capture_trans_info" class="row">
              <div class="col-xs-12">
                <div class="alert alert-info">
                  You are allowed to process only full capture through this panel!
                  <br/>
                  This option can be enabled in the <strong>Module Settings</strong>, but it depends on the <strong>acquirer</strong>.
                  For further Information please contact your <strong>Account Manager</strong>.
                </div>
              </div>
            </div>
          {% endif %}

          <div class="form-group">
            <label for="{{ module_name }}_transaction_amount">Capture amount:</label>
            <div class="input-group">
              <span class="input-group-text" data-bs-toggle="{{ module_name }}-tooltip" data-bs-html="true"
                    data-placement="top"
                    title="{{ currency.iso_code }}">{{ currency.sign }}</span>
              <input type="text" class="form-control" id="{{ module_name }}_transaction_amount"
                  {% if not emerchantpay_checkout_supports_partial_capture %}
                    data-bs-toggle="{{ module_name }}-tooltip" data-bs-html="true" data-placement="bottom" title="{{ help_transaction_option_capture_partial_denied }}"
                  {% endif %}
                     name="amount" placeholder="Capture amount..." value="{{ transaction.available_amount }}"/>
            </div>
            <span class="help-block" id="{{ module_name }}-amount-error-container"></span>
          </div>
          <div class="form-group">
            <label for="{{ module_name }}_transaction_message">Transaction Message (optional):</label>
            <textarea class="form-control" rows="3" id="{{ module_name }}_transaction_message"
                      name="message"></textarea>
          </div>
        </form>
    {% elseif type == 'refund' %}
        <form class="form modal-form" action="{{ url_action }}" method="post">
          <input type="hidden" name="order_id" value="{{ transaction.order_id }}"/>
          <input type="hidden" name="reference_id" value="{{ transaction.unique_id }}"/>

          {% if not emerchantpay_checkout_supports_partial_refund %}
            <div id="{{ module_name }}_capture_trans_info" class="row">
              <div class="col-xs-12">
                <div class="alert alert-info">
                  You are allowed to process only full refund through this panel!
                  <br/>
                  This option can be enabled in the <strong>Module Settings</strong>, but it depends on the <strong>acquirer</strong>.
                  For further Information please contact your <strong>Account Manager</strong>.
                </div>
              </div>
            </div>
          {% endif %}

          <div class="form-group">
            <label for="{{ module_name }}_transaction_amount">Refund amount:</label>
            <div class="input-group">
              <span class="input-group-text" data-bs-toggle={{ module_name }}-tooltip" data-bs-html="true"
                    data-placement="top" title="{{ currency.iso_code }}">{{ currency.sign }}</span>
              <input type="text" class="form-control" id="{{ module_name }}_transaction_amount"
                  {% if emerchantpay_checkout_supports_partial_refund %}
                    data-bs-toggle="{{ module_name }}-tooltip" data-bs-html="true" data-placement="bottom" title="{{ help_transaction_option_refund_partial_denied }}"
                  {% endif %}
                     name="amount" placeholder="Refund amount..." value="{{ transaction.available_amount }}"/>
            </div>
            <span class="help-block" id="{{ module_name }}-amount-error-container"></span>
          </div>
          <div class="form-group">
            <label for="{{ module_name }}_transaction_message">Transaction Message (optional):</label>
            <textarea class="form-control" rows="3" id="{{ module_name }}_transaction_message"
                      name="message"></textarea>
          </div>
        </form>
    {% elseif type == 'void' %}
        {% if transaction.is_allowed %}
          <p class="text-center">
            Are you sure you want to Void (cancel):
            <br/>
            <span style="text-decoration: underline;">
                    {{ transaction.type|capitalize }}
                </span>
            transaction with Unique Id:
            <span style="text-decoration: underline;">
                    {{ transaction.unique_id }}
                </span>
          </p>
        {% endif %}

        <form class="form modal-form" action="{{ url_action }}" method="post">
          <input type="hidden" name="order_id" value="{{ transaction.order_id }}"/>
          <input type="hidden" name="reference_id" value="{{ transaction.unique_id }}"/>

          {% if transaction.is_allowed %}
            <div class="row">
              <div class="col-xs-12">
                <div class="alert alert-warning">
                  This service is only available for particular acquirers!
                  <br/>
                  For further Information please contact your Account Manager.
                </div>
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-xs-12">
                <div class="alert alert-danger">
                  There is already an approved <strong>Cancel Transaction</strong>
                  for <strong>{{ transaction.type|capitalize }} Transaction</strong> with
                  Unique Id: <strong>{{ transaction.unique_id }}</strong>
                  <br/>
                  You are not allowed to send this Cancel Transaction. <br/> For further Information please contact your
                  Account Manager.
                </div>
              </div>
            </div>
          {% endif %}

          <div class="form-group">
            <label for="{{ module_name }}_transaction_message">Transaction Message (optional):</label>
            <textarea class="form-control" rows="3" id="{{ module_name }}_transaction_message"
                      name="message"></textarea>
          </div>
        </form>
    {% endif %}
    </div>
    <div class="modal-footer">
      <span class="form-loading">
        <i class="fa fa-spinner fa-spin fa-lg"></i>
      </span>
      <span class="form-buttons">
        <button class="btn" data-bs-dismiss="modal" aria-hidden="true">{{ text_button_close }}</button>
        <button class="btn btn-submit btn-info btn-capture" value="partial">{{ text_button_proceed }}</button>
      </span>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.btn-submit').click(function () {
        $(this).parents().eq(2).find('.modal-form').submit();
    });

    $('form.modal-form').submit(function () {
        var $modalForm   = $(this);
        var $modalDialog = $(this).parents().eq(4).find('.modal-dialog');

        $.ajax({
            url:  $modalForm.attr('action'),
            type: $modalForm.attr('method'),
            data: $modalForm.serialize(),
            beforeSend: function () {
                $modalDialog.find('.form-buttons').hide();
                $modalDialog.find('.form-loading').show();
            },
            complete: function () {
                $modalDialog.find('.form-loading').hide();
                $modalDialog.find('.form-buttons').show();
            },
            success: function (data) {
                if (data.text !== undefined && data.text.length > 0) {
                    $modalDialog.find('.alert-notification .alert-text').text(data.text);
                    $modalDialog.find('.alert-notification').removeClass('alert-danger').addClass('alert-info').slideDown();
                }

                $modalDialog.find('.form-buttons button.btn-submit').prop('disabled', true);

                setTimeout(function () {
                    $('.modal.fade').modal('hide');
                    location.reload();
                }, 3000);
            },
            error: function (xhr) {
                if (xhr.responseJSON !== undefined && xhr.responseJSON.text !== undefined && xhr.responseJSON.text.length > 0) {
                    error = xhr.responseJSON.text;
                } else {
                    error = xhr.statusText;
                }

                $modalDialog.find('.alert-notification .alert-text').text(error);
                $modalDialog.find('.alert-notification').removeClass('alert-info').addClass('alert-danger').slideDown();
            }
        });

        // prevent re-submitting
        return false;
    });

    $(function () {
        $("[data-hide]").on("click", function () {
            $("." + $(this).attr("data-hide")).slideUp();
        });

        $('#{{ module_name }}_transaction_amount').number(true,
            modalPopupDecimalValueFormatConsts.decimalPlaces,
            modalPopupDecimalValueFormatConsts.decimalSeparator,
            modalPopupDecimalValueFormatConsts.thousandSeparator
        );

      {% if type == 'capture' or type == 'refund' %}
      {% if type == 'capture' and (not emerchantpay_checkout_supports_partial_capture) or type == 'refund' and not emerchantpay_checkout_supports_partial_refund %}
        $('#{{ module_name }}_transaction_amount').attr('readonly', 'readonly');
      {% endif %}
      {% elseif type == 'void' and not transaction.is_allowed or not emerchantpay_checkout_supports_void %}
        $('.btn-submit').attr('disabled', 'disabled');
      {% endif %}
    });
</script>
