{#
* Copyright (C) 2018 emerchantpay Ltd.
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* @author      emerchantpay
* @copyright   2018 emerchantpay Ltd.
* @license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
#}
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-emerchantpay_direct" data-bs-toggle="tooltip" title="{{ button_save }}"
                class="btn btn-primary" id="{{ module_name }}_submit">
          <i class="fas fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light">
          <i class="fas fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid module-controls-container">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-pencil-alt"></i>&nbsp;{{ text_edit }}
        &nbsp;
        <strong>(v. {{ module_version }})</strong>
      </div>
      <div class="card-body">
        <form data-action="{{ action }}" data-method="post" enctype="multipart/form-data"
              id="form-emerchantpay_direct" class="form-horizontal" method="post" data-oc-toggle="ajax">
          <ul class="nav nav-tabs" id="tabs">
            <li class="nav-item">
              <a href="#tab-general" data-bs-toggle="tab" class="nav-link active">
                {{ tab_general }}
              </a>
            </li>
            <li class="nav-item{% if (not enable_recurring_tab) %} {{ ' hidden' }}{% endif %}">
              <a href="#tab-recurring" data-bs-toggle="tab" class="nav-link">
                {{ tab_recurring }}
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="{{ module_name }}_username">
                  {{ entry_username }}
                </label>
                <div class="col-sm-10">
                  <input type="text" id="{{ module_name }}_username" name="{{ module_name }}_username"
                         value="{{ emerchantpay_direct_username }}"
                         placeholder="{{ entry_username }}" class="form-control"/>
                </div>
              </div>
              <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="{{ module_name }}_password">
                  {{ entry_password }}
                </label>
                <div class="col-sm-10">
                  <input type="text" id="{{ module_name }}_password" name="{{ module_name }}_password"
                         value="{{ emerchantpay_direct_password }}"
                         placeholder="{{ entry_password }}" class="form-control"/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="{{ module_name }}_token">
                    <span data-bs-toggle="tooltip" title="{{ help_token }}">
                        {{ entry_token }}
                    </span>
                </label>
                <div class="col-sm-10">
                  <input type="text" id="{{ module_name }}_token" name="{{ module_name }}_token"
                         value="{{ emerchantpay_direct_token }}"
                         placeholder="{{ entry_token }}" class="form-control"/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                    <span data-bs-toggle="tooltip" title="{{ help_sandbox }}">
                        {{ entry_sandbox }}
                    </span>
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_sandbox"
                         value="{{ emerchantpay_direct_sandbox }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_sandbox) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="input-status">
                  {{ entry_transaction_type }}
                </label>
                <div class="col-sm-10">
                  <select id="{{ module_name }}_transaction_type"
                          name="{{ module_name }}_transaction_type" class="form-select">
                    {% for transaction_type in transaction_types %}
                      {% if (transaction_type['id'] == emerchantpay_direct_transaction_type) %}
                        <option value="{{ transaction_type['id'] }}"
                                selected="selected">{{ transaction_type['name'] }}</option>
                      {% else %}
                        <option value="{{ transaction_type['id'] }}">{{ transaction_type['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="emerchantpay_direct_threeds_allowed">
                      <span data-toggle="tooltip" title="{{ help_threeds_allowed }}">
                        {{ entry_threeds_allowed }}
                      </span>
                    </label>
                    <div class="col-sm-10 form-check form-switch form-switch-lg">
                        <input type="hidden" name="emerchantpay_direct_threeds_allowed"
                               value="{{ emerchantpay_direct_threeds_allowed }}"/>
                        <input type="checkbox" class="form-check-input" id="emerchantpay_direct_threeds_allowed"
                                {% if emerchantpay_direct_threeds_allowed %}
                                    checked="checked"
                                {% endif %}
                        />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="emerchantpay_direct_threeds_challenge_indicator">
                      <span data-toggle="tooltip" title="{{ help_threeds_challenge_indicator }}">
                        {{ entry_threeds_challenge_indicator }}
                      </span>
                    </label>
                    <div class="col-sm-10">
                        <select name="emerchantpay_direct_threeds_challenge_indicator"
                                id="emerchantpay_direct_threeds_challenge_indicator" class="form-select">
                            {% for threeds_challenge_indicator in threeds_challenge_indicators %}
                                {% if threeds_challenge_indicator.id == emerchantpay_direct_threeds_challenge_indicator %}
                                    <option value="{{ threeds_challenge_indicator.id }}"
                                            selected="selected">{{ threeds_challenge_indicator.name }}</option>
                                {% else %}
                                    <option value="{{ threeds_challenge_indicator.id }}">{{ threeds_challenge_indicator.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="emerchantpay_checkout_sca_exemption">
                  <span data-toggle="tooltip" title="{{ help_sca_exemption }}">
                    {{ entry_sca_exemption }}
                  </span>
                    </label>
                    <div class="col-sm-10">
                        <select name="emerchantpay_direct_sca_exemption" id="emerchantpay_direct_sca_exemption" class="form-control">
                            {% for sca_exemption in sca_exemptions %}
                                {% set selected = sca_exemption.id == emerchantpay_direct_sca_exemption ? ' selected="selected" ' : '' %}
                                <option value="{{ sca_exemption.id }}"{{ selected }}>
                                    {{ sca_exemption.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="input-sca_exemption_amount">
                      <span data-toggle="tooltip" title="{{ help_sca_exemption_amount }}">
                        {{ entry_sca_exemption_amount }}
                      </span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" name="emerchantpay_direct_sca_exemption_amount" value="{{ emerchantpay_direct_sca_exemption_amount }}" placeholder="{{ entry_sca_exemption_amount }}" id="input-sca_exemption_amount" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="{{ module_name }}_cse_public_key">
                        <span data-toggle="tooltip" title="{{ help_cse_public_key }}">
                        {{ entry_cse_public_key }}
                      </span>
                    </label>
                    <div class="col-sm-10">
                        <textarea id="{{ module_name }}_cse_public_key" name="{{ module_name }}_cse_public_key"
                                  placeholder="{{ entry_cse_public_key }}"
                                  class="form-control">{{ emerchantpay_direct_cse_public_key }}</textarea>
                    </div>
                </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                  <span data-bs-toggle="tooltip" title="{{ help_supports_partial_capture }}">
                    {{ entry_supports_partial_capture }}
                  </span>
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_supports_partial_capture"
                         value="{{ emerchantpay_direct_supports_partial_capture }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_supports_partial_capture) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                            <span data-bs-toggle="tooltip" title="{{ help_supports_partial_refund }}">
                                {{ entry_supports_partial_refund }}
                            </span>
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_supports_partial_refund"
                         value="{{ emerchantpay_direct_supports_partial_refund }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_supports_partial_refund) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                            <span data-bs-toggle="tooltip" title="{{ help_supports_void }}">
                                {{ entry_supports_void }}
                            </span>
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_supports_void"
                         value="{{ emerchantpay_direct_supports_void }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_supports_void) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="emerchantpay_direct_order_status_id">
                  <span data-bs-toggle="tooltip" title="{{ help_order_status }}">
                    {{ entry_order_status }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <select name="emerchantpay_direct_order_status_id"
                          id="emerchantpay_direct_order_status_id" class="form-select">
                    <option value="">- {{ text_select_status }} -</option>
                    {% for order_status in order_statuses %}
                      {% if (order_status['order_status_id'] == emerchantpay_direct_order_status_id) %}
                        <option value="{{ order_status['order_status_id'] }}"
                                selected="selected">{{ order_status['name'] }}</option>
                      {% else %}
                        <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="emerchantpay_direct_async_order_status_id">
                  <span data-toggle="tooltip" title="{{ help_async_order_status }}">
                      {{ entry_async_order_status }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <select name="emerchantpay_direct_async_order_status_id"
                          id="emerchantpay_direct_async_order_status_id" class="form-select">
                    <option value="">- {{ text_select_status }} -</option>
                    {% for order_status in order_statuses %}
                      {% if (order_status['order_status_id'] == emerchantpay_direct_async_order_status_id) %}
                        <option value="{{ order_status['order_status_id'] }}"
                                selected="selected">{{ order_status['name'] }}</option>
                      {% else %}
                        <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="emerchantpay_direct_order_failure_status_id">
                            <span data-toggle="tooltip" title="{{ help_failure_order_status }}">
                                {{ entry_order_status_failure }}
                            </span>
                </label>
                <div class="col-sm-10">
                  <select name="emerchantpay_direct_order_failure_status_id"
                          id="emerchantpay_direct_order_failure_status_id" class="form-select">
                    <option value="">- {{ text_select_status }} -</option>
                    {% for order_status in order_statuses %}
                      {% if (order_status['order_status_id'] == emerchantpay_direct_order_failure_status_id) %}
                        <option value="{{ order_status['order_status_id'] }}"
                                selected="selected">{{ order_status['name'] }}</option>
                      {% else %}
                        <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-geo-zone">
                  {{ entry_geo_zone }}
                </label>
                <div class="col-sm-10">
                  <select name="emerchantpay_direct_geo_zone_id" id="input-geo-zone"
                          class="form-select">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones %}
                      {% if (geo_zone['geo_zone_id'] == emerchantpay_direct_geo_zone_id) %}
                        <option value="{{ geo_zone['geo_zone_id'] }}"
                                selected="selected">{{ geo_zone['name'] }}</option>
                      {% else %}
                        <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-status">
                  {{ entry_status }}
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_status"
                         value="{{ emerchantpay_direct_status }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_status) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-status">
                  {{ entry_debug }}
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_debug"
                         value="{{ emerchantpay_direct_debug }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_debug) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-sort-order">
                  {{ entry_sort_order }}
                </label>
                <div class="col-sm-10">
                  <input type="text" name="emerchantpay_direct_sort_order"
                         value="{{ emerchantpay_direct_sort_order }}"
                         placeholder="{{ entry_sort_order }}" id="input-sort-order"
                         class="form-control"/>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-recurring">
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                            <span data-bs-toggle="tooltip" title="{{ help_supports_recurring }}">
                                {{ entry_supports_recurring }}
                            </span>
                </label>
                <div class="col-sm-10 form-check form-switch form-switch-lg">
                  <input type="hidden" name="emerchantpay_direct_supports_recurring"
                         value="{{ emerchantpay_direct_supports_recurring }}"/>
                  <input type="checkbox" class="form-check-input"
                      {% if (emerchantpay_direct_supports_recurring) %}
                        checked="checked"
                      {% endif %}
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                            <span data-toggle="tooltip" title="{{ help_recurring_transaction_types }}">
                                {{ entry_recurring_transaction_type }}
                            </span>
                </label>
                <div class="col-sm-10">
                  <select id="{{ module_name }}_recurring_transaction_type"
                          name="{{ module_name }}_recurring_transaction_type" class="form-control">
                    {% for recurring_transaction_type in recurring_transaction_types %}
                      {% if (recurring_transaction_type['id'] == emerchantpay_direct_recurring_transaction_type) %}
                        <option value="{{ recurring_transaction_type['id'] }}"
                                selected="selected">{{ recurring_transaction_type['name'] }}</option>
                      {% else %}
                        <option
                            value="{{ recurring_transaction_type['id'] }}">{{ recurring_transaction_type['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                  {{ entry_recurring_token }}
                </label>
                <div class="col-sm-10">
                  <input type="text" id="emerchantpay_direct_recurring_token"
                         name="emerchantpay_direct_recurring_token"
                         value="{{ emerchantpay_direct_recurring_token }}"
                         placeholder="{{ entry_recurring_token }}" class="form-control"/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                  <span data-bs-toggle="tooltip" title="{{ help_cron_time_limit }}">
                    {{ entry_cron_time_limit }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <input type="text" id="emerchantpay_direct_cron_time_limit"
                         name="emerchantpay_direct_cron_time_limit"
                         value="{{ emerchantpay_direct_cron_time_limit }}"
                         placeholder="{{ entry_cron_time_limit }}" class="form-control"/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                  <span data-bs-toggle="tooltip" title="{{ help_cron_allowed_ip }}">
                    {{ entry_cron_allowed_ip }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <input type="text" id="emerchantpay_direct_cron_allowed_ip"
                         name="emerchantpay_direct_cron_allowed_ip"
                         value="{{ emerchantpay_direct_cron_allowed_ip }}"
                         placeholder="{{ entry_cron_allowed_ip }}" class="form-control"/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                  <span data-bs-toggle="tooltip" title="{{ help_cron_last_execution }}">
                    {{ entry_cron_last_execution }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div id="div_cron_last_execution">{{ cron_last_execution }}</div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                  <span data-bs-toggle="tooltip" title="{{ help_recurring_log }}">
                    {{ entry_recurring_log }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div>
                    <span data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                          class="button btn btn-info" id="btn_collapse">
                      {{ text_log_btn_show }}
                    </span>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse out">
                    <table class="table table-hover tree">
                      <thead>
                      <tr>
                        <th>{{ text_log_entry_id }}</th>
                        <th class="text-center">{{ text_log_order_id }}</th>
                        <th class="text-center">{{ text_log_date_time }}</th>
                        <th class="text-center">{{ text_log_rebilled_amount }}</th>
                        <th class="text-center">{{ text_log_recurring_order_id }}</th>
                        <th class="text-center">{{ text_log_status }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for log_entry in recurring_log_entries %}
                        <tr class="treegrid-{{ log_entry['log_entry_id'] }} {{ log_entry['ref_log_entry_id'] != '' ? 'treegrid-parent-' ~ log_entry['ref_log_entry_id'] : 'log-entry-row' }}">
                          <td class="text-left">{{ log_entry['log_entry_id'] }}</td>
                          <td class="text-center"><a href="{{ log_entry['order_link'] }}"
                                                     data-bs-toggle="tooltip"
                                                     title="{{ log_entry['order_link_title'] }}">{{ log_entry['order_id'] }}</a>
                          </td>
                          <td class="text-center">{{ log_entry['date'] }}</td>
                          <td class="text-center">{{ log_entry['amount'] }}</td>
                          <td class="text-center">
                            {% if log_entry['order_recurring_btn_title'] is defined and log_entry['order_recurring_btn_title'] != '' %}
                              <a href="{{ log_entry['order_recurring_btn_link'] }}"
                                 data-bs-toggle="tooltip"
                                 title="{{ log_entry['order_recurring_btn_title'] }}"
                                 class="btn btn-info"><i class="fa fa-eye"></i></a>
                            {% else %}
                              {{ log_entry['order_recurring_id'] }}
                            {% endif %}
                          </td>
                          <td class="text-center">{{ log_entry['status'] }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script type="text/javascript">

    function createBootstrapValidator(submitFormSelector) {
        var submitForm = $(submitFormSelector);

        submitForm.bootstrapValidator({
            fields: {
                username: {
                    selector: '#{{ module_name }}_username',
                    validators: {
                        notEmpty: {
                            message: '{{ error_username }}'
                        }
                    }
                },
                password: {
                    selector: '#{{ module_name }}_password',
                    validators: {
                        notEmpty: {
                            message: '{{ error_password }}'
                        }
                    }
                },
                token: {
                    selector: '#{{ module_name }}_token',
                    validators: {
                        notEmpty: {
                            message: '{{ error_token }}'
                        }
                    }
                },
                transactionType: {
                    selector: '#{{ module_name }}_transaction_type',
                    validators: {
                        notEmpty: {
                            message: '{{ error_transaction_type }}'
                        }
                    }
                },
                orderStatus: {
                    selector: '#{{ module_name }}_order_status_id',
                    validators: {
                        notEmpty: {
                            message: '{{ error_order_status }}'
                        }
                    }
                },
                orderFailureStatus: {
                    selector: '#{{ module_name }}_order_failure_status_id',
                    validators: {
                        notEmpty: {
                            message: '{{ error_order_failure_status }}'
                        }
                    }
                },
                orderAsyncStatus: {
                    selector: '#{{ module_name }}_async_order_status_id',
                    validators: {
                        notEmpty: {
                            message: '{{ error_async_order_status }}'
                        }
                    }
                }
            }
        })
            .on('success.form.bv', function (e) {
                e.preventDefault(); // Prevent the form from submitting
            });

        return true;
    }

    function destroyBootstrapValidator(submitFormSelector) {
        var submitForm = $(submitFormSelector);
        submitForm.bootstrapValidator('destroy');
    }

    function hideAlertNotification() {
        var $alertNotificationHolder = $('.module-controls-container').find('.alert-notification');
        $alertNotificationHolder.slideUp();
    }

    function displayAlertNotification(type, messageText) {
        var $alertNotificationHolder = $('#alert');
        var alertNotificationClass = 'alert-' + type;

        $alertNotificationHolder.append('<div class="alert ' + alertNotificationClass + ' alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + messageText + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

        // var notificationTypes = [
        //     'info',
        //     'success',
        //     'warning',
        //     'danger'
        // ];

        // $.each(notificationTypes, function (index, key) {
        //     $alertNotificationHolder.removeClass('alert-' + key);
        // });
        //
        // $alertNotificationHolder.addClass(alertNotificationClass).slideDown();
    }

    function updateCronLastExecClass() {
        $("#div_cron_last_execution").attr('class', 'alert alert-{{ cron_last_execution_status }}');
    }

    $(function () {

        destroyBootstrapValidator('#form-emerchantpay_checkout');
        createBootstrapValidator('#form-emerchantpay_checkout');

        $("[data-bs-hide]").on("click", function () {
            $("." + $(this).attr("data-hide")).slideUp();
        });

        $('#{{ module_name }}_submit').click(function () {
            var $submitForm = $('#' + $(this).attr('data-form'));
            $submitForm.submit();
        });

        $('#form-emerchantpay_direct').submit(function () {
            var $form = $(this);

            hideAlertNotification();

            $.ajax({
                url: $form.attr('data-action'),
                type: $form.attr('data-method'),
                data: $form.serialize(),
                beforeSend: function () {
                    $('#{{ module_name }}_submit').attr('disabled', 'disabled');
                    $('#{{ module_name }}_submit').parent().find('.form-loading').fadeIn('fast');
                },
                complete: function () {
                    $('#{{ module_name }}_submit').parent().find('.form-loading').fadeOut('fast');
                    $('#{{ module_name }}_submit').removeAttr('disabled');
                },
                success: function (json) {
                    $('.alert-dismissible').remove();

                    if (json['error']) {
                        displayAlertNotification('danger', json['text']);
                    }

                    if (json['success']) {
                        displayAlertNotification('success', json['text']);
                    }
                },
                error: function (xhr) {
                    displayAlertNotification('danger', '{{ text_failed }}');
                }
            });

            // prevent re-submitting
            return false;
        });

        $('input.form-check-input').change(function () {
            var isChecked = $(this).prop('checked');
            $(this).parent().find('input[type="hidden"]').val((isChecked ? 1 : 0));

            if ($(this).parent().find('input[type="hidden"]').attr('name') == '{{ module_name }}_supports_recurring') {
                if (!isChecked) {
                    displayAlertNotification('warning', '{{ alert_disable_recurring }}');
                }
            }
        });

        $('.tree').treegrid({
            expanderExpandedClass: 'treegrid-expander-expanded',
            expanderCollapsedClass: 'treegrid-expander-collapsed'
        });

        updateCronLastExecClass();
    });

    $('#collapseOne').on('hidden.bs.collapse', function () {
        document.getElementById('btn_collapse').textContent = '{{ text_log_btn_show }}';
    });

    $('#collapseOne').on('shown.bs.collapse', function () {
        document.getElementById('btn_collapse').textContent = '{{ text_log_btn_hide }}';
    });

</script>
