{#Copyright (C) 2018 emerchantpay Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * @author   emerchantpay
 * @copyright  2018 emerchantpay Ltd.
 * @license   http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0) #}

<script>
    window.empEncryptConf = {
        publicKey:     `{{ cse_public_key }}`,
        textCardLegal: '{{ text_card_legal }}',
        buttonTarget:  '{{ button_target }}',
        methodName:    'emerchantpay_direct'
    };
</script>

{% for script in scripts %}
    <script src="{{ script.href }}" type="text/javascript"{% if script.integrity %} integrity="{{ script.integrity }}"{% endif %}{% if script.crossOrigin %} crossorigin="{{ script.crossOrigin }}"{% endif %}></script>
{% endfor %}

{% for style in styles %}
    <link rel="stylesheet" href="{{ style.href }}">
{% endfor %}

<form class="form-horizontal emerchantpay-direct">
    <fieldset id="payment">
        <legend>
            {{ text_credit_card }}
        </legend>
        <div class="cc-container">
            <div id="emerchantpay-alert" class="alert alert-warning alert-checkout">
                <i class="fa fa-exclamation-circle"></i>
                <span class="alert-text"></span>
                <button type="button" class="close" data-hide="alert-checkout">&times;</button>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="card-wrapper"></div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-container form-group active">
                        <input placeholder="{{ entry_cc_number }}" class="form-control" type="text" name="emerchantpay_direct-cc-number">
                        <input placeholder="{{ entry_cc_owner }}" class="form-control" type="text" name="emerchantpay_direct-cc-holder">
                        <input placeholder="{{ entry_cc_expiry }}" class="form-control" type="text" name="emerchantpay_direct-cc-expiration">
                        <input placeholder="{{ entry_cc_cvv }}" class="form-control" type="text" name="emerchantpay_direct-cc-cvv">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <input type="hidden" id="emerchantpay_direct-java_enabled" name="emerchantpay_direct-java_enabled">
    <input type="hidden" id="emerchantpay_direct-color_depth" name="emerchantpay_direct-color_depth">
    <input type="hidden" id="emerchantpay_direct-browser_language" name="emerchantpay_direct-browser_language">
    <input type="hidden" id="emerchantpay_direct-screen_height" name="emerchantpay_direct-screen_height">
    <input type="hidden" id="emerchantpay_direct-screen_width" name="emerchantpay_direct-screen_width">
    <input type="hidden" id="emerchantpay_direct-user_agent" name="emerchantpay_direct-user_agent">
    <input type="hidden" id="emerchantpay_direct-browser_timezone_zone_offset" name="emerchantpay_direct-browser_timezone_zone_offset">
</form>

<div class="buttons">
    <div class="text-end">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
</div>

<script type="text/javascript">
    const methodName = window.empEncryptConf.methodName;

    $(function () {
        empPopulateBrowserParams.execute(document);

        $("[data-hide]").on("click", function () {
            $(this).closest("." + $(this).attr("data-hide")).fadeOut();
        });

        new Card({
            form:      '.emerchantpay-direct',
            container: '.card-wrapper',
            messages: {
                legalText: window.empEncryptConf.textCardLegal,
            },
            formSelectors: {
                numberInput: `input[name="${methodName}-cc-number"]`,
                nameInput:   `input[name="${methodName}-cc-holder"]`,
                expiryInput: `input[name="${methodName}-cc-expiration"]`,
                cvcInput:    `input[name="${methodName}-cc-cvv"]`
            }
        });

        $('#button-confirm').on('click', function () {
            let ajaxData = $('.emerchantpay-direct').serializeArray();

            if (window.empEncryptConf.publicKey) {
                let cardData      = empClassicDirectEncrypt.creditCardData();
                let encryptedData = empCardDataEncrypt.encrypt(window.empEncryptConf.publicKey, cardData);

                ajaxData = ajaxData.filter(item => !new RegExp(`^${methodName}-cc-(holder|number|expiration|cvv)$`).test(item.name));
                ajaxData.push({ name: `${methodName}-cc-holder`,     value: encryptedData['card_holder'] });
                ajaxData.push({ name: `${methodName}-cc-number`,     value: encryptedData['card_number'] });
                ajaxData.push({ name: `${methodName}-cc-expiration`, value: `${encryptedData['month']}/${encryptedData['year']}` });
                ajaxData.push({ name: `${methodName}-cc-cvv`,        value: encryptedData['cvv'] });
            }

            $.ajax({
                url: window.empEncryptConf.buttonTarget,
                type: 'post',
                data: ajaxData,
                cache: false,
                dataType: 'json',
                beforeSend: function () {
                    $('#button-confirm').button('loading').prop('disabled', true);
                },
                success: function (json) {
                    if (json['error']) {
                        $('.alert.alert-checkout').text(json['error']).fadeIn();
                        $('#button-confirm').button('reset').prop('disabled', false);
                    }

                    if (json['redirect']) {
                        location = json['redirect'];
                    }
                }
            });
        });
    });
</script>
